body{
    width: 100%;
}

.site_description{
    color: white;
}
.pa_center_screen{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
}
.pa_header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:  #fff;
    height: 50px;
    color: #323231;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
    text-align: center;
    z-index: 2;
}
.pa_header p{
    display: inline-block;
    padding: 15Px;
    float: left;
}
.pa_col{
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
}
.pa_col_l{
    background:white;
    overflow-y: auto;
}

.pa_col_r{
    background: black;
    overflow-y: hidden;
}

.pa_search_form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    max-width: 100%;
}

.video img{
    cursor: pointer;
}
.clear{
    clear: both;
}
@media screen and (max-width: 900px) {
    .pa_col{
        position: inherit;
        margin-top: 50px;
        display: block;
        width: 100%;
    }
    .pa_col_l{
        background:white;
        overflow-y: auto;
    }

    .pa_col_r{
        display: block;
        background: black;
        overflow: hidden;

    }
    .pa_col_r .site_description{
        color: black;
    }
    #youtube-results{
        text-align: center;
        margin: auto;
    }
    #youtube-results img{
        margin: auto;
    }
    form.pa_search_form{
        position: static;
        transform: none;
        float: right;
        width: 60%;
    }
}